<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Sign in</title>
    <link rel="stylesheet" href="styles.css">
    <style></style>
</head>
<body>
    <div class="title">
        <h1 class="head">歡迎光臨，請輸入帳號密碼</h1>
    </div>
 
    <div class="body">
        <h3>登入系統</h3>
        <br>
        <form action="/login" method="POST" class="login">
            Username <input type="text" name="username"><br>
            Password <input type="text" name="password"><br>
            <button> Log in </button>
        </form>
    </div>
</body>
</html>